{% extends 'base.html.twig' %}



{% block body %}


<div class="centrage-column">
    <h1>Bienvenue dans votre crêche</h1>


    <p>Pour continuer sur notre site, merci de bien vouloir vous connecter </p>
    {# <a href="{{ path('app_login')}}">Connexion</a> #}
    
</div>
{% endblock %}
