.nav-button {
    display: flex;
    flex-direction: column;
    width: 30px;
    background : none;
    span {
        height: 6px;
        width: 100%;
        color: black;
    }
}

.datetime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    .date-container {
        color: $primary;
        .day-name {
            font-size: $size-t2;
        }
        .day-number{
            font-size: $size-t3;
            font-weight: $weight-3;
            color: $orange;
            padding-left: 0.5rem;
        }
        .month {
            font-size: $size-t2;
        }
        .year {
            padding-left: 0.5rem;
            font-size: $size-t2;
            font-weight: $weight-2;
        }
    }

    .time-container {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 4px;
        color: $primary;
        .hours {
            font-size: $size-t2;
            font-weight: $weight-3;
            
        }

        .separator {
            font-size: $size-t2;
            font-weight: $weight-3;
            margin: 0 0.3rem;
        }

        .minutes {
            font-size: $size-t3;
            font-weight: $weight-3;
            color: $orange;
        }
    }
}

.card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid $orange;
    border-radius: 8px;
    padding: 2rem;
    gap: 5rem;
}

.card {
    width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap :1rem;
    padding: 2rem;
    & .icon-accueil {
        width: 40%;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
        color: white;
    }
    & h3 {
        font-size: $size-t2;
        font-weight: $weight-2;
        color: white;
    }
}

// Form Components
.form {
    &-wrapper {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 2rem;

        h1 {
            color: $primary;
            margin-bottom: 2rem;
        }

        h2 {
            color: $primary;
            margin-bottom: 1.5rem;
        }
    }

    &-section {
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 8px;

        & .form-rows-container , .child-info{
            width: 40%;
            margin: 0 auto;

                .email-help-wrap {
                    display: flex;
                    flex-wrap: wrap;

                    .help-text {
                        flex-basis: 100%;
                        font-size: 0.9rem;
                        padding-top: 0.3rem;
                    }
                }

                #inscription_form_child_genre {
                    gap: 0.5rem;
                    margin: 0.5rem 0;
                }

             div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                color: $primary;



                input {
                    outline: none;
                    border: 1px solid $primary;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    border-radius: 4px;
                    transition: all 0.3s;

                    &:hover {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                    &:focus {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                }
                select {
                    outline: none;
                    border: 1px solid $primary;
                    padding: 0.5rem 1rem;
                    border-radius: 4px ;
                    color: $primary;

                    &:hover {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                    &:focus {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                }
                textarea {
                    outline: none;
                    border: 1px solid $primary;
                    padding: 0.5rem 1rem;
                    border-radius: 4px ;
                    color: $primary;

                    &:hover {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                    &:focus {
                        border: 1px solid $orange;
                        background-color: rgba($orange, 0.02);
                    }
                }
                .ta-allergy, .ta-medical-specificity {
                    width: 50%;
                    resize: vertical;
                }
                label {
                    align-content: center;
                    font-weight: 600;
                }
             }
            
        }
        &--user {
            border: 1px solid $orange;
            box-shadow: 0 2px 4px rgba($orange, 0.2);
            
        }

        &--child {
            border: 1px solid $blue-stroke;
            box-shadow: 0 2px 4px rgba($blue-stroke, 0.2);
        }

        &--planning {
            border: 1px solid $green-stroke;
            box-shadow: 0 2px 4px rgba($green-stroke, 0.2);
        }

        h2 {
            color: $primary;
            margin-bottom: 1.5rem;
            font-weight: $weight-2;
        }

        .planning-dates {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;

        label {
            min-width: 200px;
            color: $primary;
            font-weight: $weight-1;
        }

        input, select, textarea {
            flex: 1;
            padding: 0.5rem;
            border: 1px solid $primary;
            border-radius: 4px;
            transition: all 0.3s ease;

            &:hover {
                border-color: $orange;
                background-color: $primary-bg;
            }

            &:focus {
                outline: none;
                border-color: $orange;
                box-shadow: 0 0 0 2px rgba($orange, 0.1);
            }
        }
    }


}

// Button Components
.button-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.form-button {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: $weight-1;
    font-size: $size-default;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;

    &--submit {
        background-color: $green;
        color: $white;
        border: none;
        font-weight: $weight-1;
        text-decoration: none;
        &:hover {
            background-color: darken($green, 10%);
        }
    }

    &--cancel {
        box-sizing: border-box;
        background-color: $orange;
        padding: 0.45rem 1.5rem;
        border: none;
        color: $white;
        font-size: $size-default;
        font-weight: $weight-1;
        text-decoration: none;
        &:hover {
            background-color: darken($orange, 10%);
        }
    }

    &--edit {
        background-color: $blue;
        color: $white;
        border: none;
        text-decoration: none;
        &:hover {
            background-color: darken($blue, 10%);
        }
    }
        &--delete {
        background-color: $red;
        color: $white;
        border: none;

        &:hover {
            background-color: darken($red, 10%);
        }
    }
        &--add {
        background-color: $white;
        color: $blue;
        border: 2px solid $blue;

        &:hover {
            background-color: lighten($blue,38%);
            color: $blue;
        }
    }
}



.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

// tentative classe generale pour formulaires
.form-style-general {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: $primary;
       div {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 0.5rem;
       }
       .email-help-wrap {
        display: flex;
        flex-wrap: wrap;
        .help-text {
            flex-basis: 100%;
            font-size: 0.9rem;
            padding-top: 0.3rem;
        }
       }
    input {
        outline: none;
        border: 1px solid $primary;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.3s;
        text-align: end;
        color: $primary;
        &:hover {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
        &:focus {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
    }
    select {
        outline: none;
        border: 1px solid $primary;
        padding: 0.5rem 1rem;
        border-radius: 4px ;
        color: $primary;

        &:hover {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
        &:focus {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
    }
    textarea {
        outline: none;
        border: 1px solid $primary;
        padding: 0.5rem 1rem;
        border-radius: 4px ;
        color: $primary;

        &:hover {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
        &:focus {
            border: 1px solid $orange;
            background-color: rgba($orange, 0.02);
        }
    }
    .ta-allergy, .ta-medical-specificity {
        width: 50%;
        resize: vertical;
    }
    label {
        // align-content: center;
        font-weight: 600;
    }
 }

 .edit-form {
    border: 2px solid $orange;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
 }

.recovery-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid $orange;
    border-radius: 8px;
    background: #fff;
    align-items: center;
    > div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary;
        select {
            outline: none;
            border: 1px solid $primary;
            padding: 0.5rem 1rem;
            border-radius: 4px ;
            color: $primary;
    
            &:hover {
                border: 1px solid $orange;
                background-color: rgba($orange, 0.02);
            }
            &:focus {
                border: 1px solid $orange;
                background-color: rgba($orange, 0.02);
            }
        }
    }
    >div>div {
        width: 100%;
    }
    > div > div > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0.5rem;
        input {
            outline: none;
            border: 1px solid $primary;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.3s;
            text-align: end;
            color: $primary;
            &:hover {
                border: 1px solid $orange;
                background-color: rgba($orange, 0.02);
            }
            &:focus {
                border: 1px solid $orange;
                background-color: rgba($orange, 0.02);
            }
        }
    }
    label {
        min-width: 120px;
        font-weight: 600;
    }
    
    .btn-position {
        margin-top: 2rem;
        align-self: flex-end;
    }

}

// Standard date view
.date-style {
    color: darken($primary, 10%);
    .date-style-number {
        font-size: 1.8rem;
        font-weight: 600;
        color: $orange;
    }
    .date-style-year {
        color: darken($primary, 20%);
    }
}

// standard childname view 
.firstname-name-style {
  
    font-weight: 600;
    font-size: 1.5rem;
        .firstname-style {
          color: darken($primary, 15%);
        }
        .name-style {
          text-transform: uppercase;
          color: $orange;
        }
  }

.to-be-removed {
    opacity: 0.5;
    background: #eee !important;
    filter: grayscale(0.7);
    position: relative;

    .form-button--cancel {
        opacity: 1 ;
        filter: none ;
        background: $orange;
        color: $white ;
        font-weight: bold;
        border: 2px solid $orange;
        z-index: 1;
        position: relative;
        transition: none;
        pointer-events: auto;
    }
}





