@import 'variables';
@import 'mixins';
@import 'functions';
@import 'components';
@import 'pages';

body {
    font-family: "Inter", sans-serif;
    height: 2000px;
}

.time-input {
    select {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        
        &:not(:has(option:checked[value=""])) {
            // Style quand une valeur est sélectionnée
            border-color: $primary;
            background-color: rgba($primary, 0.1);
        }
        
        option[value=""] {
            color: #666;
            font-style: italic;
        }
    }
}

.main-content {
    position: relative;
        width: 100%;


    
    .content-wrapper {
        padding: 2rem;
    }
}

:root {
    --navbar-height: 80px; // Ajustez selon la hauteur de votre navbar
}

.padding-navbar {
    padding-top: 80px !important;
}
