<div class="select-child-partial">
    <label for="select-child">Sélectionner un enfant :</label>
    <select id="select-child" name="child_id">
        {# À compléter avec la liste des enfants #}
        <option value="">-- Choisir --</option>
    </select>
</div> 